<div class="page-header">
  <%= link_to painting_kinds_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <%= link_to @painting_kind, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Показать
  <% end %>
  <h1>Редактирование вида картины</h1>
</div>

<%= render 'form' %>
