<div class="page-header">
  <%= link_to painting_kinds_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <h1>Новый вид картины</h1>
</div>

<%= render 'form' %>
