<div class="page-header">
  <%= link_to painting_kinds_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <%= link_to edit_painting_kind_path(@painting_kind), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Редактировать
  <% end %>
  <h1>Просмотр painting_kind</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @painting_kind.title %></dd>

</dl>
