<div class="page-header">
  <%= link_to ranks_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <% end %>
  <h1>Новый rank</h1>
</div>

<%= render 'form' %>
