<div class="page-header">
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Назад
  <%% end %>
  <%%= link_to @<%= singular_table_name %>, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Показать
  <%% end %>
  <h1>Редактирование <%= singular_table_name %></h1>
</div>

<%%= render 'form' %>
